html, body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 14px; */
    /* border: solid green; */
    width: 100%;
    /* height: 100%; */
}

.nav, .title {
    font-family: 'Game of Thrones';
    font-weight: normal;
    font-style: normal;
}

.nav {
    border-bottom: 10px solid black;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.list {
    height: 100%;
    width: 100%;
    /* padding-bottom: 100px; */
    margin-left: 5%;
    border: 4px solid black;
    overflow: auto;
}

.detail {
    height: 100%;
    width: 65%;
    /* padding: 14px; */
    margin: 0;
    /* border: solid blue; */
    margin: auto;
}

.char-container {
    width: 100%;
    height: 76%;
    position: fixed;
    display: flex;
    /* border: solid black; */
}

.list-search {
    width: 25%;
}

li {
    list-style: none;
}

a {
    color: #f2aa4cff;
}

.soundcloud {
    position: absolute;
    display: relative;
    top: 1%;
    left: 1%;
}

.soundcloud button:focus {
    outline: 0;
}

.soundcloud button img {
    width: 40px;
    height: 40px;
}

.soundcloud button img:hover {
    width: 42px;
    height: 42px;
}

.soundcloud button img:active {
    width: 40px;
    height: 40px;
}

.episodes {
    display: flex;
}

.charactersimg {
    width: 88%;
    margin-top: 2%;
}

.episodeimg {
    /* border: solid black; */
    width: 60%;
    margin-top: 3%;
}

.episodeimg img {
    width: 400px;
    margin: 1%;
}