body {
    font-family: 'Game of Thrones';
    font-weight: normal;
    font-style: normal;
    border: solid green;
}

.list {
    width: 25%;
    padding: 0;
    margin: 0;
    border: solid red;
}

.detail {
    width: 65%;
    padding: 0;
    margin: 0;
    border: solid blue;
}

.char-container {
    width: 100%;
    display: flex;
    border: solid black;
}

li {
    list-style: none;
}