.list {
    list-style: none;
    border: solid grey;
    padding-left: 14px;
    padding-bottom: 60px;
}

.thumb {
    width: 30px;
    height: 30px;
}

button {
    height: 100%;
    width: 90%;
    border: none;
    margin: 2px;
    text-align: left;
    padding: 0, 4px;
}

button:hover {
    font-size: 16px;
    font-weight: bold;

}