.imageContainer {
    width: 300px;
    height: 300px;
    text-align: center;
    display: table-cell;
    /* vertical-align: middle; */
    padding-top: 4px;
}

.detailContainer {
    /* text-align: -webkit-center; */
    padding: 0;
    position: relative;
}

.image {
    width: auto;
    height: 100%;
}

.sigils {
    position: absolute;
    top: 0px;
    right: 36px;
}

.sigils img {
    width: 197px;
}

.details {
    display: flex;
    text-align: left;
    margin-top: 12px;
}

li {
    margin: 2px;
}


.name {
    margin-left: 77px;
}
.actor {
    margin-left: 80px;
}
.house {
    margin-left: 73px;
}
.parents {
    margin-left: 65px;
}
.siblings {
    margin-left: 64px;
}
.serves {
    margin-left: 71px;
}
.killed {
    margin-left: 79px;
}
.killedby {
    margin-left: 60px;
}