.list {
    list-style: none;
    /* border: solid grey; */
    padding-left: 2%;
    /* padding-bottom: 60px; */
}

.thumb {
    width: 26px;
    height: 26px;
}

.list button {
    height: 100%;
    border: none;
    margin: 2px;
    text-align: left;
    padding: 0, 4px;
}

.list button:hover {
    color: #f2aa4cff;
}